
*{
    font-family: 'Nanum Gothic', sans-serif;
}
        [class*="c_"] {
            float:left;
        
        }
        [class*="c_"] {
            width:100%;
        }
        @media only screen and (min-width:600px) {
            .c_m_1 {width:8.33%;}
            .c_m_2 {width:16.66%;}
            .c_m_3 {width:25%;}
            .c_m_4 {width:33.33%;}
            .c_m_5 {width:41.66%;}
            .c_m_6 {width:50%;}
            .c_m_7 {width:58.33%;}
            .c_m_8 {width:66.66%;}
            .c_m_9 {width:75%;}
            .c_m_10 {width:83.33%;}
            .c_m_11 {width:91.66%;}
            .c_m_12 {width:100%;}
        }

        @media only screen and (min-width:768px) {
            .c_1 {width:8.33%;}
            .c_2 {width:16.66%;}
            .c_3 {width:25%;}
            .c_4 {width:33.33%;}
            .c_5 {width:41.66%;}
            .c_6 {width:50%;}
            .c_7 {width:58.33%;}
            .c_8 {width:66.66%;}
            .c_9 {width:75%;}
            .c_10 {width:83.33%;}
            .c_11 {width:91.66%;}
            .c_12 {width:100%;}
        }





/* 이거는 메뉴 css */

header{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 9999999;
}


header img{
    margin-left: 10px;
}

html,
  body {
    width: 100%;
    height: 100%;
    
  }

  #logo{

float: right;
margin-right: 20px;

  }


  .open,
  .close {
    display: inline-block;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
    font-size: 2rem;

    color: #fff;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .overlay {
    position: fixed;
    width: 0;
    top: 0;
    background-color: #333;
    opacity: 0.7;
    overflow-x: hidden;
    height: 100%;
    transition: 0.5s;
  }
  
  .overlay-content {
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 200px;
    margin-top: 30px;
  }
  
  .overlay-content a {
    font-size: 2rem;
    color: #fff;
    display: block;
    padding: 20px;
    margin-bottom: 4px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
  }
  .overlay-content a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: 0.3s;
    display: block;
  }
  .overlay-content a:hover {
    color: #ff9f1a;
  }
  
  .overlay-content a:hover:after {
    width: 25%;
  }
  
.story01{
    z-index: -10;
    height: 800px;
    width: 100%;
    background: url('img/bg.gif')  no-repeat center center fixed;
    background-size: cover; 
}

#img{
    z-index: 111;
    float: left;
    position: absolute;
    margin-top: 20px;
 
}



@media ( max-width:600px) {

  
}



#box{   
    background-color: rgba(39, 62, 73,0.5);
    height: 500px;
    width: 1200px;
    margin-top:-5px;
  position: absolute;
    margin-left: auto;

    border-top: 5px solid #811113;
    border-bottom: 5px solid #811113
}

    *{margin:0;padding:0}
    body{font-family:'Roboto', sans-serif}
    a{text-decoration:none}
    ul{list-style-type:none}
    .tab-menu{width:800px;margin:    auto;margin-top:620px; margin-left:20px; display: inline-block;position: absolute; }
    .tab-menu ul{display:flex;margin: auto; width: 500px;  list-style: none; }
    .tab-menu li{flex:1;height:20px; width:10px; float: left; font-size:15pt; }
    .tab-menu li a{display:block;height:40px; width: 40px;border-radius: 100%;  background-color:#811113;text-transform:uppercase;text-align:center;color:#fff;line-height:30px;}
    .tab-menu li a.selected{height:40px; width: 40px;border-radius: 100%; background-color:#273d55;cursor:default; }
    .tab-container{width:85%;margin:0 auto; box-sizing:border-box}
    .tab-container .tab-content{display:none;padding:60px;height:500px;box-sizing:border-box}
    .tab-container .tab-content.selected{display:block} 
    #tab2{
        margin-left: -120px
    }

    /**/


h1 {

  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  cursor: default;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
  font-weight: 400;
  cursor: default;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  font-weight: 300;
  color: white;
  cursor: default;
}

.player {
  height: 190px;
  width: 430px;
  background-color: #273d55;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  box-shadow: #151518 1px 1px 7px;
}
.player ul {
  list-style: none;
}
.player ul li {
  display: inline-block;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
}
.cover img {
  height: 190px;
  width: 190px;
}

.info h1 {
  margin-top: 60px;
  margin-left: 220px;
  line-height: 0;
}

.info h2 {
  margin-left: 220px;
  margin-top: 25px;
  font-size: 10pt;
}

.button-items {
    margin-top: 15px;
  margin-left: 200px;
}

#slider {
    margin-left: 20px;
  width: 182px;
  height: 4px;
  background: #151518;
  border-radius: 2px;
}
#slider div {
  width: 4px;
  height: 4px;
  margin-top: 1px;
  background: #811113;
  border-radius: 2px;
}

#timer {
margin-top: -15px;
  color: #494B4E;
  line-height: 0;
  font-size: 9pt;
  float: right;
  font-family: Arial, Sans-Serif;
}

.controls {
  margin-top: 10px;
  margin-left: 55px
}
.controls svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

#play {
  padding: 0 3px;
  width: 30px;
  height: 30px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
}
#play g {
  stroke: #FEFEFE;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#play g path {
  fill: #FEFEFE;
}

#play:hover {
  cursor: pointer;
}
#play:hover g {
  stroke:#811113;
  cursor: pointer;
}
#play:hover g path {
  fill:#811113;
  cursor: pointer;
}

.step-backward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-backward g polygon {
  fill: #FEFEFE;
}

.step-foreward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-foreward g polygon {
  fill: #FEFEFE;
}

#pause {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: -38px;
  cursor: pointer;
}
#pause rect {
  fill: white;
}

#pause:hover rect {
  fill: #811113;
}

.step-backward g polygon:hover, .step-foreward g polygon:hover {
  fill: #811113;    
  cursor: pointer;
}



p {
  color: #BDBDBD;
}

#skip {
  float: right;
  margin-top: 10px;
}
#skip p {
  color: #2980b9;
}
#skip p:hover {
  color: #e74c3c;
  cursor: pointer;
}

.expend {
  padding: 0.5px;
  cursor: pointer;
}
.expend svg:hover g polygon {
  fill: #811113;
}


#mv{

    font-weight: 100;
    color:#fff;
    width: 65px;
    height: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    top: 70%;
  left: 39%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); 
    position: absolute;
    transition-duration: 1s;
}

#mv:hover{
background-color: #b9433b;
translate: all 0.3s;
}

#mv_1{
    font-weight: 100;
    color:#fff;
    width: 50px;
    height: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); 
  position: absolute;
    transition-duration: 1s;
}

#mv_1:hover{
background-color: #b9433b;
translate: all 0.3s;
}

a{
   color: #fff;
}

#intro{
    color: #fff;
    line-height: 170%;
    font-size: 20px;
    top: 25%;
  left: 47%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); 
    position: absolute;
}

#content{
    margin-top: 120px;
margin-left:100px;
}

#color{
    color: #fff;
    margin-top:30px;
    margin-left:100px;
    font-size: 20px;
    position: absolute;
}
