

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

[class*="c_"] {
    float:left;

}
[class*="c_"] {
    width:100%;
}
@media only screen and (min-width:600px) {
    .c_m_1 {width:8.33%;}
    .c_m_2 {width:16.66%;}
    .c_m_3 {width:100%;}
    .c_m_4 {width:33.33%;}
    .c_m_5 {width:41.66%;}
    .c_m_6 {width:50%;}
    .c_m_7 {width:58.33%;}
    .c_m_8 {width:66.66%;}
    .c_m_9 {width:75%;}
    .c_m_10 {width:83.33%;}
    .c_m_11 {width:91.66%;}
    .c_m_12 {width:100%;}
}

@media only screen and (min-width:768px) {
    .c_1 {width:8.33%;}
    .c_2 {width:16.66%;}
    .c_3 {width:100%;}
    .c_4 {width:33.33%;}
    .c_5 {width:41.66%;}
    .c_6 {width:50%;}
    .c_7 {width:58.33%;}
    .c_8 {width:66.66%;}
    .c_9 {width:75%;}
    .c_10 {width:83.33%;}
    .c_11 {width:91.66%;}
    .c_12 {width:100%;}
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    height: 0;
    width: 100%;
    position: fixed;

}

#menu{

    list-style: none;
    color:#fff;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 10000;
    float: right;
}

#menu li{
    text-decoration: none;
    float: right;
    margin-left: 20px;
    z-index: 10000;
   
}
a{
    text-decoration: none;
    color:#fff;
}
.title{
    background: url(../img/bg_2.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    height: 800px;
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}



header img{
    margin-left: 10px;
}


#big{
    width: 800px;
    position: absolute;
    font-size: 50px;
    color:#fff;
    margin-left: 50px;
    margin-top: 350px;
    z-index: 2;
}

#s{
    position: absolute;
    font-size: 20px;
    color:#fff;
    margin-left: 210px;
    margin-top: 310px;
    z-index: 2;

}

#cir_1{
    background: #b9433b;
    width: 15px;
    height: 15px;
    border-radius: 200%;
    position: absolute;
    margin-top: 315px;
    z-index: 2;
    margin-left: 50px;
    
}
.line{
    border-bottom: solid 1px #fff;
    width: 150px;
    margin-top: 321px;
    margin-left: 55px;
    
    position: absolute;
}

#but_1{
    color:#fff;
    width: 100px;
    height: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    margin-top: 570px;
    margin-left: 50px;
    transition-duration: 1s;
}

#but_1:hover{
background-color: #b9433b;
translate: all 0.3s;
}

#can{
    position: absolute;
    margin-top: 300px;
    margin-left: 330px;
}





  
  /*Animations*/
  
  [data-animate-in] {
      opacity: 0;
      transition: transform 0.8s ease, opacity 0.8s ease
  }
  
  [data-animate-in="up"] {
      transform: translate3d(0, 24px, 0)
  }
  
  [data-animate-in="left"] {
      transform: translate3d(-25%, 0, 0)
  }
  
  [data-animate-in="right"] {
      transform: translate3d(25%, 0, 0)
  }
  
  [data-animate-in="down"] {
      transform: translate3d(0, -24px, 0)
  }
  
  [data-animate-in="fadeIn"] {
      transform: translate3d(0, 0, 0)
  }
  
  [data-animate-in].in-view {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transition: transform 0.6s ease, opacity 0.6s ease
  }
  
  .fade-in {
      opacity: 0;
      transition: opacity 1s ease
  }
  
  .page-loaded .fade-in,.page-loaded.fade-in {
      opacity: 1
  }
  
  .isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
      opacity: 1;
      transition: none;
      transform: none
  }

  #info{
      background-color: #181e21;
      height: 800px;
  }

  #day{
    position: absolute;
    margin-top: 420px;
    margin-left: 50px;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
  }

  #story{
 color: #fff;
 position: absolute;
 margin-left: 50px;
 margin-top: 450px;
 font-size: 10pt;
 line-height: 15pt;
 font-family: 'Nanum Gothic', sans-serif;
 width: 800px;
  }

  #bold{
      font-weight: bold;
      font-size: 15pt;
  }

  #movie_img{
      position: absolute;
      margin-top: 120px;
      margin-left: 950px;
      box-shadow: 2px 2px 25px black;
      float: right;
  }
  
  #info{
      clear: both;
      color:#fff;
    font-family: 'Nanum Gothic', sans-serif;
    
  }

  #title{
    box-sizing: border-box;
      float: left;
    font-family: 'Nanum Myeongjo', serif;
    z-index: 1;
      position: absolute;
      font-size: 50px;
      margin-top: 8%;
      line-height: 60pt;
      margin-left: 3%;
      width: 750px;
      height: 600px;
  }

  #info_1{
    float: left;
    position: absolute;
    font-size: 10pt;
    margin-top: 25%;
    line-height: 20pt;
    margin-left: 3%;
  }
  #box_1{
      box-sizing: border-box;
      position: absolute;
      width:720px;;
      height: 3px;
      margin-top: 10%;
      margin-left: 25%;
      background: linear-gradient(312deg, rgba(129,17,19,1) 0%, rgba(39,61,85,1) 100%);
  }

  #colorBox{
      background-color: #758490;
      width: 10%;
      height:35px;
      position: absolute;
      margin-top: 15%;
      margin-left: 3%;
  }